code[class*="language-"], pre[class*="language-"] { color: rgb(204, 204, 204); background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; overflow-wrap: normal; line-height: 1.5; -moz-tab-size: 4; hyphens: none; }
pre[class*="language-"] { padding: 1em; margin: 0.5em 0px; overflow: auto; }
:not(pre) > code[class*="language-"], pre[class*="language-"] { background: rgb(45, 45, 45) none repeat scroll 0% 0%; }
:not(pre) > code[class*="language-"] { padding: 0.1em; border-radius: 0.3em; white-space: normal; }
.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata { color: rgb(153, 153, 153); }
.token.punctuation { color: rgb(204, 204, 204); }
.token.tag, .token.attr-name, .token.namespace, .token.deleted { color: rgb(226, 119, 122); }
.token.function-name { color: rgb(97, 150, 204); }
.token.boolean, .token.number, .token.function { color: rgb(240, 141, 73); }
.token.property, .token.class-name, .token.constant, .token.symbol { color: rgb(248, 197, 85); }
.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin { color: rgb(204, 153, 205); }
.token.string, .token.char, .token.attr-value, .token.regex, .token.variable { color: rgb(126, 198, 153); }
.token.operator, .token.entity, .token.url { color: rgb(103, 205, 204); }
.token.important, .token.bold { font-weight: bold; }
.token.italic { font-style: italic; }
.token.entity { cursor: help; }
.token.inserted { color: green; }
pre[class*="language-"].line-numbers { position: relative; padding-left: 3.8em; counter-reset: linenumber 0; }
pre[class*="language-"].line-numbers > code { position: relative; white-space: inherit; }
.line-numbers .line-numbers-rows { position: absolute; pointer-events: none; top: 0px; font-size: 100%; left: -3.8em; width: 3em; letter-spacing: -1px; border-right: 1px solid rgb(153, 153, 153); user-select: none; }
.line-numbers-rows > span { pointer-events: none; display: block; counter-increment: linenumber 1; }
.line-numbers-rows > span::before { content: counter(linenumber); color: rgb(153, 153, 153); display: block; padding-right: 0.8em; text-align: right; }
[class*="lang-"] script[type="text/plain"], [class*="language-"] script[type="text/plain"], script[type="text/plain"][class*="lang-"], script[type="text/plain"][class*="language-"] { display: block; font: 100% Consolas, Monaco, monospace; white-space: pre; overflow: auto; }